.gallery {
    list-style: none;
    display: flex;
    gap: 10px;
}

  .gallery-item {
    flex: 1;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

body {
    transition: background-color 0.5s ease;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
}

#boxes > div {
    width: 30px;
    height: 30px;
    margin: 5px;
    transition: all 0.3s ease;
}